/* 
====================== HEADER ==========================
*/
html {
	scroll-behavior: smooth;
	animation-duration: 500ms;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.container {
	width: 94%;
	margin: 0 auto;
}

#contenedor_sobremi {
	background-color: #EAF2FD;
}

.sobremi {
	padding: 50px 0;
}

.sobremi__titulo,
.sobremi__texto {
	margin-bottom: 20px;
}

.sobremi__titulo {
	font-size: 25px;
	font-weight: 600;
	color: #494141;
}

.sobremi__texto {
	width: 65%;
	text-align: justify;
	line-height: 20px;
}

seccion.sobremi__firma {
	width: 15%;
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {
	background-color: #F5F5F5;
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2em 0;
}

.menu__nombre {
	color: rgb(104, 52, 52);
	font-weight: 600;
}

.enlaces {
	display: flex;
}

.enlaces a {
	text-decoration: none;
	color: #000000;
}

.enlaces a {
	margin-right: 25px;
}

.menu__nombre::before {
	content: '🚀';
}

.enlaces li:last-child {
	font-weight: 700;
	color: #584b4b;
}

.menu a:hover {
	color: #CFA616;
}

.contenedor-formacion {
	background-color: #EAF2FD;
}

.formacion {
	padding: 70px 0;
}

.formacion__titulo {
	font-size: 25px;
	font-weight: 600;
	color: #494141;
	text-align: center;
	margin-bottom: 30px;
}

.formacion__cards {
	display: flex;
	justify-content: center;
}

.formacion__card {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formacion__card:not(:last-child) {
	margin-right: 1.5rem;
}

.formacion__card__img {
	width: 100%;
	height: 250px;
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.08);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
}

.logo_ispc {
	width: 65%;
}

.logo_Potrero {
	width: 65%;
}

.logo_Ap {
	width: 40%;
}

.formacion__card__contenido__curso {
	text-align: center;
}

.formacion__card__contenido__curso__datos {
	margin: 7px 0;
}

.formacion__card__contenido__curso {
	font-weight: 600;
}

.contenedor-experiencia {
	background-color: #F5F5F5;
}

.experiencia {
	padding: 70px 0;
}

.experiencia__titulo {
	font-size: 25px;
	font-weight: 600;
	color: #494141;
	text-align: center;
	margin-bottom: 20px;
}

.experiencia__contenidos {
	display: flex;
	flex-direction: column;
}

.experiencia__contenido {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: 40px 0;
}

.experiencia__contenido__img {
	width: 60%;
	border-radius: 10px;
	box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.35);
}

.experiencia__contenido__informacion {
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.experiencia__contenido__informacion__botones {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.experiencia__contenido__informacion__titulo {
	font-weight: 600;
	font-size: 1.5rem;
}

.experiencia__contenido__informacion__texto {
	font-size: 1.2rem;
}

.experiencia__contenido__informacion__titulo,
.experiencia__contenido__informacion__texto {
	padding: 5px 0;
}

.btn-repo,
.btn-demo {
	text-decoration: none;
	margin-top: 5px;
	border-radius: 4px;
	font-size: 1.3rem;
}

.btn-repo:hover,
.btn-demo:hover {
	box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.35);
}

.btn-repo {
	padding: 8px 25px;
	color: #2A7AE4;
	border: 1px solid #2A7AE4;
	margin-bottom: 5px;
}

.btn-demo {
	padding: 10px 33px;
	color: #ffffff;
	background-color: #2A7AE4;
}

.contenedor__banner {
	background-color: #F5F5F5;
}

.banner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
}

.banner__informacion {
	width: 70%;
}

.banner__img {
	width: 30%;
	display: flex;
	justify-content: center;
}

.banner__img img {
	width: 45%;
	border-radius: 30rem;
}

.banner__informacion {
	display: flex;
	flex-direction: column;
}

.banner__informacion__titulo,
.banner__informacion__texto,
.banner__informacion__enlaces {
	margin-bottom: 20px;
}

.banner__informacion__titulo {
	font-size: 3rem;
	font-weight: 700;
	color: #494141;
}

.banner__informacion__texto {
	font-size: 20px;
	line-height: 25px;
}

.banner__informacion__enlaces {
	display: flex;
	flex-direction: row;
}

.banner__informacion__enlaces li::after {
	content: '🡥';
	color: #CFA616;
}

.banner__informacion__enlaces li {
	margin: 0 20px 0 0;
}

.banner__informacion__enlaces a:hover {
	color: #CFA616;
}

.banner__informacion__enlaces a {
	text-decoration: none;
	color: #000000;
}

.adicionales {
	background-color: #F5F5F5;
}

.skills {
	padding: 60px 0 40px 0;
	text-align: center;
}

.hobbies {
	padding: 30px 0 60px 0;
	text-align: center;
}

.skills__titulo,
.hobbies__titulo {
	font-size: 25px;
	font-weight: 600;
	color: #494141;
	text-align: center;
	margin-bottom: 40px;
}

.skills__cards,
.hobbies__cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.skills__card,
.hobbies__card {
	width: 14%;
	height: 170px;
	background-color: #ffffff;
	margin-right: 20px;
	border-radius: 10px;
	box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.08);
}

.skills__card__contenido,
.hobbies__card__contenido {
	height: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.skills__card__img,
.hobbies__card__img {
	width: 25%;
	margin-bottom: .7rem;
}

.skills__card__titulo,
.hobbies__card__titulo {
	font-weight: 600;
}

.contenedor-formulario {
	background-color: #EAF2FD;
}

.formulario {
	padding: 70px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	height: 520px;
}

.formulario__contenedor {
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.formulario__contenedor__img {
	width: 100%;
	height: 100%;
}

.formulario__contenido {
	width: 40%;
	display: flex;
	flex-direction: column;
}

.formulario__contenido__titulo {
	font-size: 25px;
	font-weight: 600;
	color: #494141;
	text-align: center;
	margin-bottom: 30px;
}

.formulario p:not(:first-child) {
	text-align: justify;
	line-height: 15px;
	margin-bottom: 17px;
}

.input-container {
	position: relative;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	box-sizing: border-box;
}

.input {
	background-color: #fff;
	border: none;
	box-sizing: border-box;
	border-bottom: 1px solid #2A7AE4;
	padding: 1.375rem 0.5rem 0.5rem;
	height: 3.25rem;
	width: 100%;
}

.input::placeholder {
	visibility: hidden;
	color: #00000000;
}

.input:focus {
	outline: none;
}

.input-label {
	position: absolute;
	top: 1.375rem;
	left: 0.5rem;

	transition: all 0.25s;
}

.input:not(:placeholder-shown)+.input-label,
.input:focus+.input-label {
	font-size: 0.875rem;
	top: 0.25rem;
	transition: all 0.25s;
}

.input-container--invalid {
	margin-bottom: 0.5rem;
}

.input-container--invalid .input {
	border: 1px solid red;
	border-radius: 7px;
}

.input-container--invalid .input-label {
	color: red;
}

.input-message-error {
	display: none;
}

.input-container--invalid .input-message-error {
	color: red;
	display: block;
	margin-top: 0.5rem;
	padding-left: 0.5rem;
}

.textarea {
	background-color: #fff;
	box-sizing: border-box;
	border: none;
	border-bottom: 1px solid #2A7AE4;
	padding: 0.5rem;
	border-radius: 7px;
	width: 100%;
	min-height: 3rem;
	resize: none;
	font-family: 'Montserrat', sans-serif;
}

.textarea-container {
	position: relative;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.textarea::placeholder {
	visibility: hidden;
}

.textarea:focus {
	outline: none;
}

.input-label {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	transition: all 0.25s;
}

.textarea:not(:placeholder-shown)+.input-label,
.textarea:focus+.input-label {
	font-size: 0.875rem;
	top: -1.25rem;
	transition: all 0.25s;
}

.textarea-container--invalid {
	margin-bottom: 0.5rem;
}

.input-container--invalid .textarea {
	border: 1px solid red;
}

.textarea-container--invalid .input-label {
	color: red;
}

.textarea-mensagem-erro {
	display: none;
}

.textarea-container--invalid .textarea-mensagem-erro {
	display: block;
	color: red;
	margin-top: 0.5rem;
	padding-left: 0.5rem;
}

.boton-form {
	border-radius: 5px;
	padding: 10px 15px;
	color: #ffffff;
	background-color: #2A7AE4;
	font-weight: 500;
	border: none;
}

.boton-form:hover {
	box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.35);
	cursor: pointer;
}

.footer__contenido {
	padding: 30px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__contenido p:not(:last-child) {
	margin-bottom: .8rem;
}

/* ------------------------------------ */
/* ----- Responsive para Mobiles ------ */
/* ------------------------------------ */

@media only screen and (max-width: 767px) {

	.skills__card,
	.hobbies__card {
		width: 40%;
		height: 140px;
		margin-bottom: 20px;
		margin-left: 10px;
		margin-right: 10px;
	}

	.banner {
		flex-direction: column-reverse;
		padding: 20px 0;
	}

	.banner__informacion {
		width: 100%;
	}

	.banner__img {
		width: 100%;
		margin-bottom: 1.5rem;
	}

	.banner__img img {
		width: 30%;
	}

	.banner__informacion__titulo {
		font-size: 1.7rem;
		line-height: 2rem;
		text-align: center;
	}

	.banner__informacion__texto {
		text-align: justify;
		font-size: 16px;
		line-height: 20px;
	}

	.banner__informacion__enlaces {
		flex-direction: row;
	}

	.banner__informacion__enlaces li {
		margin: 0 10px 0 0;
		font-size: 14px;
	}

	.formulario__contenedor {
		display: none;
	}

	.formulario__contenido {
		width: 90%;
		display: flex;
		flex-direction: column;
	}

	.formulario {
		padding: 50px 0;
	}

	.experiencia {
		padding: 50px 0 30px 0;
	}

	.ahorcado {
		flex-direction: column-reverse;
	}

	.experiencia__contenido__img {
		width: 90%;
		margin-bottom: 1rem;
	}

	.experiencia__contenido__informacion {
		width: 90%;
	}

	.experiencia__contenido__informacion__botones {
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.experiencia__contenido__informacion__titulo {
		font-weight: 600;
		font-size: 1.3rem;
	}

	.experiencia__contenido__informacion__texto {
		font-size: 1rem;
	}

	.btn-repo,
	.btn-demo {
		font-size: .9rem;
	}

	.btn-repo {
		margin-bottom: 0px;
		margin-right: .5rem;
	}

	.experiencia__contenido {
		margin: 30px 0;
	}

	.formacion {
		padding: 40px 0 20px 0;
	}

	.formacion__cards {
		display: flex;
		flex-direction: column;
	}

	.formacion__card {
		margin-bottom: 2rem;
		width: 100%;
	}

	.formacion__card__img {
		margin-bottom: 1rem;
		width: 90%;
	}

	.logo_ispc {
		width: 50%;
	}

	.logo_Potrero {
		width: 50%;
	}

	.logo_Ap {
		width: 30%;
	}

	/* ======= MENU ======== */

	.menu {
		padding: 20px 10px;
	}

	.menu__nombre,
	.nav-enlaces {
		font-size: 14px;
	}

	.menu a:not(.email) {
		display: none;
	}

	.enlaces a {
		margin-right: 0px;
	}

	/* ======= MENU ======== */
	.menu {
		padding: 40px 20px;
	}

	.menu p,
	.menu nav {
		font-size: 18px;
	}

	.menu a:not(.email) {
		display: none;
	}

	.enlaces a {
		margin-right: 0px;
	}

	.sobremi__texto {
		width: 100%;
	}

	.sobremi__firma {
		width: 30%;
	}

	.sobremi__texto {
		width: 100%;
	}

	.sobremi__firma {
		width: 20%;
	}

}


/* ------------------------------------ */
/* ----- Responsive para Tablets ------ */
/* ------------------------------------ */

@media (min-width:768px) and (max-width:1024px) {

	.skills__card,
	.hobbies__card {
		width: 25%;
		height: 140px;
		margin-bottom: 20px;
		margin-left: 10px;
		margin-right: 10px;
	}

	.banner {
		padding: 20px 0 40px 0;
	}

	.banner__informacion__titulo {
		font-size: 1.7rem;
		line-height: 2rem;
	}

	.banner__img img {
		width: 82%;
		border-radius: 30rem;
	}


	.formulario__contenedor {
		display: none;
	}

	.formulario__contenido {
		width: 90%;
		display: flex;
		flex-direction: column;
	}

	.formulario {
		padding: 50px 0;
	}

	.experiencia__contenido__informacion {
		text-align: center
	}





}

/* @media only screen and  (min-width:1600px){

  .formulario__contenedor__img{
    width: 80%;
    height: 100%;
  }

} */